@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";






body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
   font-family: 'Poppins', sans-serif;
  
  /* min-width: 320px; */
  /* border: 1px solid red; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


